# All directories and files not beginning with a dot
[!.]*

# Include all directories and files inside dot directories
!.*/**

# Include license
!/LICENSE

# History files
/*_history

# Dotfiles bare repo
.dotfiles/

# XDG user-specific non-essential data files
.cache/

# XDG user-specific data and state files
.local/share/*
.local/state/*

# D-Bus
!.local/share/dbus-1/

# GitHub
.config/gh/hosts.yml

# Git
.config/git/

# SSH
.ssh/

# Docker
.docker/*
!.docker/config.json

# Maven
.m2/

# Authority files
.ICEauthority
.Xauthority

# Xfce
.config/Thunar/
.config/autostart/
.config/dconf/
.config/xfce4/
.config/user-dirs.*
